<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=<device-width>, initial-scale=1.0">
<title>Update Expenses</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="container">
<p class="text-center mt-10 pt-5 fs-1" >Update Category</p>
<div class="card">
<div class="card-body">
<form th:action="@{/expenses/update/{id}(id=${expense.id})}" method="post" th:object="${expense}" >
<input type="hidden" name="_method" value="put">
<input type="text" class="form-control" th:field="*{description}" placeholder="description" required>
<input type="text" class="form-control" th:field="*{amount}" placeholder="amount" required>
<input type="text" class="form-control" th:field="*{date}" placeholder="date" required>
<input type="hidden" class="form-control" th:field="*{category.id}" placeholder="category" required><br>
<button type="submit" class="btn btn-primary">Update</button>
</form>
</div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>